<h3>Modifier l'annonce</h3>

<%= form_with model: @location, local: true do |form| %>

    <% if @location.errors.any? %>
        <h2>Une erreur est survenue</h2>
        <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
            <%end%>
        
        </ul>
    <%end%>
<div>
    <p>
        <%= form.label :titre %>
        <%= form.text_field :titre%>
    
    </p>
    <p>
        <%= form.label :description %>
        <%= form.text_area :description%>
    
    </p>
    <p>
        <%= form.label "Nombre de chambres" %>
        <%= form.text_field :nbChambre %>
    </p>
    <p>
        <%= form.label "Nombre de couchages" %>
        <%= form.text_field :nbCouchage %>
    </p>
    <p>
        <%= form.label :ville %>
        <%= form.text_field :ville %>
    </p>
    <p>
        <%= form.label :rue %>
        <%= form.text_field :rue %>
    </p>
    <p>
        <%=  form.label "Numéro de la rue" %>
        <%= form.text_field :numRue %>
    </p>
    <p>
        <%= form.label "Latitude" %>
        <%= form.text_field :lat %>
    </p>
    <p>
        <%= form.label "Longitude" %>
        <%= form.text_field :long %>
    </p>
    <p>
        <%= form.label :prix %>
        <%= form.text_field :prix %>
    </p>
    <p>
        <%= form.label :photos %>
        <%= form.text_area :photos %>
    </p>

    <p>
        <%= form.submit "Modifier l'annonce" %>
    </p>
</div>
<%end%>