<div class="logo">
<%= image_tag "logo.png", height: 75 %>
<%= link_to "S'inscrire", register_path() , class: "bouton_navbar"%>
<%= link_to "Connexion", sign_in_path() , class: "bouton_navbar"%>
<br>
</div>
<div class="flex"><h2> Toutes les locations </h2><% if current_user %>
<div class="bouton_publish"><%= link_to "Publier une nouvelle annonce", new_location_path() , class: "bouton_publish"%></div> 
<% end %></div>

<h4 class="color-white">Recherche : </h4>
<label class="color-white">Budget : </label>
<%= form_tag(home_path, method: :get) do %>
    <%= text_field_tag(:search_by_rate, params[:search_by_rate]) %>
    <%= submit_tag ("Recherche") %>
<% end %>
    <%= button_to "Supprimer le filtre de recherche", home_path, method: :get %>


<% @location.each do |location| %>
<div class="annonce">
    <div>Titre : <%= location.titre%> </div>
    <div>Description : <%= location.description%> </div>
    <div>Prix : <%= location.prix%>€</div>
    <div>Ville : <%= location.ville%></div>
    <div><%= link_to "Voir l'annonce", location_path(location) %> </div>
    <div><%= link_to "Modifier l'annonce", edit_location_path(location) %> </div>
    <div><%= link_to "Supprimer l'annonce", location_path(location), method: :delete %> </div>
</div>
<% end %>