<h3>Publier une nouvelle annonce</h3>

<%= form_with model: @location, local: true do |form| %>
    <% if @location.errors.any? %>
        <h2>Une erreur est survenue</h2>
        <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
            <%end%>
        
        </ul>
    <%end%>

    <div class="input-form">
        <%= form.label :titre %>
        <%= form.text_field :titre%>
    
    </div>
    <div class="input-form">
        <%= form.label :description %>
        <%= form.text_area :description%>
    
    </div>
    <div class="input-form">
        <%= form.label "Nombre de chambres" %>
        <%= form.text_field :nbChambre %>
    </div>
    <div class="input-form">
        <%= form.label "Nombre de couchages" %>
        <%= form.text_field :nbCouchage %>
    </div>
    <div class="input-form">
        <%= form.label :ville %>
        <%= form.text_field :ville %>
    </div>
    <div class="input-form">
        <%= form.label :rue %>
        <%= form.text_field :rue %>
    </div>
    <div class="input-form">
        <%= form.label "Numéro de la rue" %>
        <%= form.text_field :numRue %>
    </div>
    <div class="input-form">
        <%= form.label "Latitude" %>
        <%= form.text_field :lat %>
    </div>
    <div class="input-form">
        <%= form.label "Longitude" %>
        <%= form.text_field :long %>
    </div>
    <div class="input-form">
        <%= form.label :prix %>
        <%= form.text_field :prix %>
    </div>
    <div class="input-form">
        <%= form.label :photos %>
        <%= form.text_area :photos %>
    </div>

    <div class="input-form">
        <%= form.submit "Publier l'annonce" %>
    </div>

<%end%>