<h2> <%= @location.titre %> </h2></div>
<div> <%= @location.description %> </div>
<br>
<div>Nombre de chambres : <%= @location.nbChambre%></div>
<div>Nombre de couchages : <%= @location.nbCouchage%></div>
<div>Ville : <%= @location.ville%></div>
<div>Rue : <%= @location.rue%></div>
<div>Latitude : <%= @location.lat%></div>
<div>Longitude : <%= @location.long%></div>
<div>Prix : <%= @location.prix%>€</div>
<div>Photos : <%= @location.photos%></div>
